<div>
  <p>Hello <%= @name %>!<p>
  <p>
    Your new Ask account is almost ready, click the link below to confirm and activate it.
  </p>
  <p>
    <a href="<%= @url %>">Confirm my Ask Account</a>
  </p>
  <p>Thank you!</p>
</div>