<div class='empty_static'>
  <div class='empty_page'>
    <i class='material-icons'>email</i>
    <h5>Thank you for signing up to Surveda</h5>
    We sent you an email with a confirmation link. Please confirm your account by clicking on that link.
  </div>
</div>