{
  "extends": ["standard", "standard-react", "plugin:flowtype/recommended"],
  "parser": "babel-eslint",
  "plugins": ["flowtype"],
  "globals": {
    "$": true
  },
  "rules": {
    "space-before-function-paren": [2, "never"],
    "eqeqeq": "off"
  },
  "env": {
    "browser": true
  }
}
