{
  "extends": ["standard", "standard-react"],
  "parser": "babel-eslint",
  "globals": {
    "$": true,
    "d3": false
  },
  "rules": {
    "space-before-function-paren": [2, "never"],
    "eqeqeq": "off"
  },
  "env": {
    "browser": true
  }
}
