<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <%= render "_favicon.html" %>

    <title>InSTEDD Ask</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/mobileSurvey.css") %>">
    <script>
      window.mixEnv = "<%= Mix.env %>"
      window.appConfig = <%= raw(config(@conn)) %>
    </script>
  </head>

  <%= render @view_module, @view_template, assigns %>
</html>
