%h1{style: "text-align: center"} Register
.addict.container
  .addict.modal
    .addict.modal__form
      .addict.modal__fields
        .addict.field
          %input#txt-name.addict.input{required: "", type: "text"}
          %label.addict.label{for: "txt-name"} Name
        .addict.field
          %input#txt-email.addict.input{required: "", type: "text"}
          %label.addict.label{for: "txt-email"} E-mail
        .addict.field
          %input#txt-password.addict.input{required: "", type: "password"}
          %label.addict.label{for: "txt-password"} Password
        .addict.errors
        .addict.modal__footer
          %button#btn-register.addict.btn Register
        %br
        %a.addict.link{href: "/login"} Already a user?
        &nbsp;
