%h1{style: "text-align: center"} Reset Password
.addict.container
  .addict.modal
    .addict.modal__form
      .addict.modal__fields
        .addict.field
          %input#txt-password.addict.input{required: "", type: "password"}
          %label.addict.label{for: "txt-password"} Password
        .addict.errors
        .addict.modal__footer
          %button#btn-reset-password.addict.btn Reset Password

%input#csrf-token{type: "hidden", value: @csrf_token}
%input#token{type: "hidden", value: @token}
%input#signature{type: "hidden", value: @signature}
