<body>
  <div id="root" role="main"></div>
  <script>
    window.mixEnv = "<%= Mix.env %>"
    window.respondentId = <%= @respondent_id %>
  </script>
  <script src="<%= static_path(@conn, "/js/mobileSurvey.js") %>"></script>
</body>
