<body>
  <div id="root" role="main" data-config="<%= Poison.encode!(%{introMessage: @mobile_web_intro_message, colorStyle: @color_style}) %>"></div>
  <script>
    window.mixEnv = "<%= Mix.env %>"
    window.respondentId = "<%= @respondent_id %>"
    window.apiUrl = "/mobile/simulation"
    window.simulation = true
    window.token = "not-used"
  </script>
  <script src="<%= static_path(@conn, "/js/mobileSurvey.js") %>"></script>
</body>
