// ------- Card with Table ----------

.card {
  border-radius: 3px;

  .card-table-title {
    @extend .black-text;
    font-size: 20px;
    font-weight: 400;
    padding: 25px;
  }


  .card-table {
    padding: 0;
    > table {
      @extend .bordered;

      tr:hover {
        .action i {
          display: block;
        }
      }
      tr.detail-row {
        border: none;
        border-top: 2px solid transparent;
        td {
          @extend .grey-text;
          &:first-child {
            padding-left: 3.8rem;
            position: relative;
            &:before {
              @extend .grey, .lighten-2;
              content: '';
              display: block;
              position: absolute;
              top: -2px;
              left: 2rem;
              height: calc(100% + 2px);
              width: 3px;
            }
          }
        }
      }

      th {
        @extend .grey-text, .lighten-2;
        padding: 25px;
        white-space: nowrap;
         a {
          color: inherit;
        }
        &.sortable {
          i {
            vertical-align: middle;
            margin-right: 9px;
          }
        }
        &.action {
          width: 50px;
          padding: 5px;
        }
        &:empty {
          padding: 0 !important;
        }
      }

      td {
        @extend .black-text;
        padding: 25px;
        a {
          color: inherit;
        }
        &.project-name {
          word-break: break-all;
        }
        &.action {
          width: 50px;
          padding: 0;
          text-align: center;
          i {
            @include transition(color ease-in-out .25s);
            @extend .grey-text, .lighten-2;
            display: none;
            &:hover {
              @extend .black-text;
            }
          }
        }
        &.tdDelete {
          padding-left: 5px !important;
          padding-right: 5px !important;
        }
        &.tdError {
          padding-left: 2px !important;
          padding-right: 2px !important;
        }
        &.tdNowrap {
          max-width: 150px;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        &.w-select {
          padding: 15px 25px;
          .col.input-field {
            padding: 0;
            margin: 0;
            input[type='text'] {
              margin: 0;
            }

          }

        }
      }
      &.noclick tr:hover {
        cursor: default !important;
      }
    }
    table.responses-table {
      input[type=text] {
        margin-bottom: 0;
        height: auto;
      }
      .input-field{
        margin-top: auto;
      }
      .select-dropdown {
        border-bottom: none;
      }
    }
    .basic-error {
      @extend .text-error;
      border-bottom: dotted 1px #ff5722 ;
    }
    .isNew-error {
      @extend .text-error;
      border-bottom: dotted 1px black ;
    }
    .tooltip-error {
      position: relative;
      &:after {
        content: '';
        @extend .back-error;
        display: block;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 5px;
        right: -28px;
      }
    }
    + .card-action {
      ul {
        margin: 0;
        li {
          @extend .grey-text;
          line-height: 2;
          a {
            @extend .black-text;
            margin: 0 !important;
            padding: 0 !important;
          }
        }
      }
      &.select-modes {
        padding: 7px 20px !important;
        .row {
          margin: 0;
        }
        .input-field {
          margin-top: 0;
        }
        a {
          @extend .blue-text;
          display: inline-block;
          cursor: pointer;
          margin-top: 1.4rem;
          &.disabled {
            @extend .grey-text, .text-lighten-1;
          }
        }
      }
    }

  }
  .card-action-error {
    padding-bottom:20px;
    padding-top:20px;
    padding-left:0px;
    border-top: solid 1px transparent;
    color: red
  }
  &.tableScroll {
    width: 76vw;
    .card-table {
      overflow-x: auto;
    }
  }
  &.scrollX {
    overflow-x: auto;
  }
}
.card-error {
  @extend .red-text, .darken-1;
}

.material-tooltip.error {
  font-size: .8rem;
  line-height: 1;
  padding: 6px 10px;
  min-height: 16px;
  border-radius: 4px;
  .backdrop {
    @extend .back-error;
  }
}