// ------- Card for Modals ----------

.modal.card {
  max-height: 70vh;
  max-width: 800px !important;
  min-width: 400px;

  &.column-picker {
    max-width: 400px !important;
    ul {
      // The ideal formula should consider cutting the last field option just in the middle
      // So the user can easily notice they need to scroll to see the options below
      max-height: calc(95.5vh - 274px); // 274px stands for (header + footer) approx
      overflow: auto;
    }
  }

  .modal-content {
    padding: 0;
  }

  .collection {
    margin: 0;

    .icon {
      min-height: 170px;
      position: relative;
      h5 {
        padding-left: 75px;
        line-height: 60px;
        position: relative;
        &:before {
          content: '';
          width: 60px;
          height: 60px;
          background-size: 60px 60px;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      &.verboice h5:before {
        background-image: url('/images/verboice@2x.png')
      }
      &.nuntium h5:before {
        background-image: url('/images/nuntium@2x.png')
      }
      .switch {
        @include transform(scale(0.85) translate-x(-2rem));
        display: inline-block;
      }
      span.channel-description {
        display: inline-block;
        vertical-align: text-top;
      }
      .arrow-right {
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        right: 25px;
        top: calc(50% - 10px);
      }
      &.disabled {
        opacity: .5;
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
      }
    }
    &.repondents-index-modal {
      padding: 1.5rem 0;
      background-color: #fff;
      li.collection-item {
        border: none;
      }
      li.collection-item.download {
        min-height: 6rem;
      }
      a.download {
        @extend .grey-text;
        position: relative;
        > div {
          padding-left: 70px;
          max-width: 85%;
          &:first-child {
            background-color: #999999;
            text-align: center;
            border-radius: 50%;
            height: 45px;
            width: 45px;
            padding-left: 0;
            max-width: initial;
            position: absolute;
            top: 4px;
            left: 5px;
            i.material-icons {
              @extend .white-text;
              font-size: 1.5rem;
              line-height: 45px;
            }
          }
          p {
            font-size: 1.1rem;
            margin: 0.2rem 0;
          }
        }
        &:after {
          content: '';
          display: table;
          clear: both;
          zoom: 1;
        }
        .button {
          background-color: color("grey", "darken-1");
        }
        .title {
          @extend .black-text;
        }
        &[disabled] {
          .button {
            background-color: color("grey", "lighten-1");
          }
          .title {
            color: color("grey", "lighten-1");
          }
        }
      }
      .access-link {
        padding: 0.5rem 0;
        max-width: 85%;
        .switch {
          display: inline-block;
          vertical-align: middle;
          .lever {
            margin-left: 0;
          }
          .label {
            @extend .grey-text;
            font-size: 1rem;
            margin-right: 0.5rem;
          }
        }
        .link {
          padding: 0.5rem;
          display: inline-block;
          position: relative;
          min-height: 43px;
          width: 75%;
          vertical-align: middle;
          span {
            @extend .grey-text;
            margin: 0.2rem 0.2rem;
            vertical-align: middle;
            width: 98%;
            overflow: hidden;
            display: inline-block;
          }
          .buttons {
            position: absolute;
            right: 0.5rem;
            top: 0.5rem;
          }
          .btn-icon-grey {
            display: none;
          }
        }
        .link:hover {
          background-color: #e6e6e6;
          padding-right: 74px;
          .btn-icon-grey {
            display: inline;
          }
        }
      }
      div.link {
        @extend .grey-text;
        > div {
          max-width: 85%;
          p {
            font-size: 1.1rem;
            margin: 0.2rem 0;
          }
        }
      }
    }
  }

  .card-title.header {
    @extend .grey, .lighten-2;
    padding: 1rem 1.3rem;
    p {
      @extend .grey-text;
      font-size: 15px;
      margin: 0;
      padding: 0 !important;
    }
  }

  .card-content {
    overflow-y: auto;
    max-height: 250px;
    padding: .8rem 1rem 0;

    .row {
      .col {
        padding: 0;
      }
    }
    .input-field.col label {
      left: 0;
    }
  }

  &#setupQuotas {
    .row {
      height: 56px;
      line-height: 56px;
    }
  }
  &#downloadCSV {
    position: absolute;
    top: -120px !important;
    max-height: initial;
    margin-bottom: 40px;
  }
  &.hidden-overflow {
    overflow-y: visible;
    .card-content {
      overflow-y: visible;
    }
  }
  .card-action {
    border-top: none !important;

    .btn-large {
      border-radius: 3px;
      line-height: 50px;
      height: 50px;
      padding: 0 1.3rem;
    }
  }
}
