// ------- Card for Modals ----------

.modal.card {
  max-height: 70vh;
  max-width: 800px !important;
  min-width: 400px;
  overflow-y: initial;

  .modal-content {
    padding: 0;
  }

  .collection {
    margin: 0;

    .icon {
      min-height: 170px;
      position: relative;
      h5 {
        padding-left: 75px;
        line-height: 60px;
        position: relative;
        &:before {
          content: '';
          width: 60px;
          height: 60px;
          background-size: 60px 60px;
          background-repeat: no-repeat;
          position: absolute;
          left: 0;
          top: 0;
        }
      }
      &.verboice h5:before {
        background-image: url('/images/verboice@2x.png')
      }
      &.nuntium h5:before {
        background-image: url('/images/nuntium@2x.png')
      }
      .switch {
        @include transform(scale(0.85) translate-x(-2rem));
        display: inline-block;
      }
      span.channel-description {
        display: inline-block;
        vertical-align: text-top;
      }
      .arrow-right {
        cursor: pointer;
        font-size: 24px;
        position: absolute;
        right: 25px;
        top: calc(50% - 10px);
      }
      &.disabled {
        opacity: .5;
        filter: url("data:image/svg+xml;utf8,&lt;svg xmlns=\'http://www.w3.org/2000/svg\'&gt;&lt;filter id=\'grayscale\'&gt;&lt;feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/&gt;&lt;/filter&gt;&lt;/svg&gt;#grayscale");
        filter: gray;
        -webkit-filter: grayscale(100%);
      }
    }
  }

  .card-title.header {
    @extend .grey, .lighten-2;
    padding: 1rem 1.3rem;
    p {
      @extend .grey-text;
      font-size: 15px;
      margin: 0;
      padding: 0 !important;
    }
  }

  .card-content {
    overflow-y: auto;
    max-height: 250px;
    padding: .8rem 1rem 0;

    .row {
      margin: 0;
      .col {
        padding: 0;
      }
    }
    .input-field.col label {
      left: 0;
    }
  }
  .card-action {
    border-top: none;

    .btn-large {
      border-radius: 3px;
      line-height: 50px;
      height: 50px;
      padding: 0 1.3rem;
    }
  }
  &#setupQuotas {
    min-height: 350px;
    .row {
      height: 56px;
      line-height: 56px;
    }
  }
}

