// --------- Fonts ---------------
// Roboto:

@font-face {
  font-family: "Roboto";
  src: local(Roboto Light), url("/fonts/roboto/Roboto-Light.eot");
  src: url("/fonts/roboto/Roboto-Light.eot?#iefix") format("embedded-opentype"),
       url("/fonts/roboto/Roboto-Light.woff2") format("woff2"),
       url("/fonts/roboto/Roboto-Light.woff") format("woff"),
       url("/fonts/roboto/Roboto-Light.ttf") format("truetype");
  font-weight: 300;
}

@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("/fonts/roboto/Roboto-Regular.eot");
  src: url("/fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
       url("/fonts/roboto/Roboto-Regular.woff2") format("woff2"),
       url("/fonts/roboto/Roboto-Regular.woff") format("woff"),
       url("/fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Roboto";
  src: url("/fonts/roboto/Roboto-Bold.eot");
  src: url("/fonts/roboto/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
       url("/fonts/roboto/Roboto-Bold.woff2") format("woff2"),
       url("/fonts/roboto/Roboto-Bold.woff") format("woff"),
       url("/fonts/roboto/Roboto-Bold.ttf") format("truetype");
  font-weight: 700;
}

// Material Icons

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/material-icons/MaterialIcons-Regular.eot"); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url("/fonts/material-icons/MaterialIcons-Regular.woff2") format('woff2'),
       url("/fonts/material-icons/MaterialIcons-Regular.woff") format('woff'),
       url("/fonts/material-icons/MaterialIcons-Regular.ttf") format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}
