// ------- Forms --------------

label {
  color: $primary-color;
  &.bottom-margin {
    margin-bottom: 1rem;
  }
}

.small-text-bellow {
  @extend .grey-text, .lighten-2;
  font-size: 14px;
  margin-top: -18px;
  margin-bottom: 22px;
  display: block;
}

.dropfile {
  @include  transition(border-color ease-in-out .2s);
  @extend .grey-text;
  font-size: 18px;
  width: 100%;
  height: 350px;
  border: 2px dashed color("grey", "lighten-3");
  position: relative;
  cursor: pointer;
  .drop-icon {
    @include  transition(color ease-in-out .2s);
    color: inherit;
    position: absolute;
    width: 20%;
    top: calc(50% - 70px);
    margin: 0 40%;
    &:before {
      content: 'insert_drive_file';
      font-family: 'Material Icons';
      font-size: 50px;
      position: absolute;
      top: 0;
      width: 100%;
      text-align: center;
    }
  }
  .drop-uploading {
    position: absolute;
    width: 20%;
    top: calc(50% - 70px);
    margin: 0 46%;
  }
  .drop-text {
    @include  transition(color ease-in-out .2s);
    color: inherit;
    position: absolute;
    width: 70%;
    top: 50%;
    margin: 0 15%;
    &.csv:before {
      content: 'Drop your CSV file here, or click to browse';
      text-align: center;
      position: absolute;
      width: 100%;
      text-align: center;
    }
    &.csv.uploading {
      @extend .blue-text, .lighten-1;
    }
    &.csv.uploading:before {
      content: 'Uploading...';
    }
    &.audio:before {
      content: 'Drop your MP3 or WAV file here, or click to browse';
      text-align: center;
      position: absolute;
      width: 100%;
      text-align: center;
    }
  }
  &.active {
    @extend .blue-text, .lighten-1;
    border-color: color("blue", "lighten-1");
    .drop-text:before {
      content: 'Drop your file to start uploading';
    }
  }
  &.rejectedfile {
    @extend .red-text;
    border-color: color("red", "lighten-1");
    .drop-icon:before {
      content: 'block';
    }
    .drop-text:before {
      content: 'Invalid file type';
    }
  }
  &.audio {
    height: 80px;
    .drop-icon {
      top: 10px;
      &:before {
        font-size: 30px;
      }
    }
    .drop-text {
      font-size: 90%;
      width: 90%;
      margin: 0 5%;
    }
    &.error {
      .drop-text {
        color: #ff5722;
      }
    }
  }
}

.audio-section {
  position: relative;
  padding-left: 10px;
  margin-bottom: 40px;
  .audio-dropdown {
    display: inline-block;
    min-width: 95px;
  }
  .upload-audio {
    padding-top: 20px;
  }
  .record-audio {
    a {
      position: absolute;
      top: 2px;
      left: 118px;
      cursor: pointer;
      color: #F44336;
    }
  }
  audio {
    position: absolute;
    right: 5px;
    top: 0px;
    width: 70%;
  }
  .drop-uploading {
    text-align: center;
    border: 2px dashed #4285f4;
    padding-top: 10px;
    height: 80px;
    .preloader-wrapper {
      width: 30px;
      height: 30px;
    }
    &:before {
      content: 'Uploading...';
      font-size: .8rem;
      color: #4285f4;
      position: absolute;
      margin-top: 2.5rem;
      margin-left: -.5rem;
    }
  }
}

.preloader-wrapper {
  &.tiny {
    width: 16px;
    height: 16px;
  }
}

.invalidValue {
  color: red;
  text-decoration: line-through;
}

.select-wrapper {
  .caret {
    @extend .transparent-text;
    font-family: Arial, Helvetica, 'san-serif';
    position: relative;
    width: 25px;
    &:after {
      content: 'arrow_drop_down';
      font-family: 'Material Icons';
      @extend .grey-text;
      font-size: 20px;
      line-height: .4;
      position: absolute;
      top: 0;
      right: 0;
    }
  }

  .dropdown-content {
    li {
      span {
        @extend .black-text;
      }
    }
  }
}

.range-fields {
  .input-field.inline {
    min-width: 145px;
  }
}

.character-counter {
  @extend .grey-text, .lighten-2;
}

.input-field.inline.min-width {
  min-width: 250px;
}

.ac-item { // autocomplete dropdown li
  padding: 10px;
}

.filterIndex .input-field {
  margin-top: -30px;
  input {
    @extend .grey-text;
    border-bottom: none;
  }
}

.languageSelector {
  display: inline-block;
  text-align: left;
  margin-right: 30px;
  min-width: 100px;
    > a {
    @extend .grey-text;

    i {
      line-height: 16px;
      margin-right: 10px;
    }
  }
  .dropdown-content {
    min-width: 145px;
    width: auto !important;
    transform: translateX(-35px);
    a {
      @extend .black-text;
      i {
        margin-right: 10px;
      }
      .lang {
        @extend .grey-text;
        @extend .right;
        margin-left: 10px;
      }
    }
  }
}
.inputShort {
  line-height: 1.5;
  font-style: italic;
  text-align: center;
  text-transform: uppercase;
  color: #039be5;
  display: inline-flex;
  min-width: 200px;
  width: auto !important;
  height: auto !important;
  margin-bottom: 0 !important;
}
.smallIcon {
  font-size: 16px;
  margin-left: 5px;
}

.channel-pattern {
  display: flex;
  border-radius: 5px;
  padding: 5px;
  transition: all ease-in .23s;

  .bottom-align {
    display: flex;
    /*align-items: flex-end;*/
    align-items: center;
  }

  a {
    display: none;
    cursor: pointer;
  }

  &:hover {
    @extend .grey, .lighten-3;
    a {
      display: block;
    }
  }

  .error {
    color: #ff5722;
    font-size: 14px;
    margin-top: -18px;
    margin-bottom: 22px;
    display: block;
  }

  .label-error {
    color: #ff5722;
  }
}
