
// --------- NCD classes ---------------

.clearfix {
  &:after {
    content: '';
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

// -----------------------------------------------------------------------------
// ------- Surveys -------------------------------------------------------------

.respondent-chart {
  margin: .5rem 0 2rem;
}

.question.left {
  width: 90%;
  .question-icon-label {
    float: left;
    min-width: 100px;
    width: 20%;
    i {
      margin-right: 10px;
      line-height: 56px;
    }
    span {
      @extend .truncate;
    }
  }
  .question-value {
    @extend .grey-text;
    float: left;
    width: 72%;
    .input-field {
      margin-top: 0;
      input {
        height: 2rem;
      }
    }
    .small-text-bellow {
      line-height: 1;
    }
  }
}
.question.right {
  label {
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    display: inline-block;
    height: 25px;
    line-height: 25px;
    font-size: 1rem;
  }
}


.survey-modes { // modes for completed surveys
  .type {
    font-size: 12px;
    color: gray;
  }

}

.mode {
  margin-top: 15px;

}

.mode-label.name {
  margin-left: 10px;
  vertical-align: top;
}

.mode-inline-block {
  display: inline-block;
  vertical-align: text-top;
  margin-right: 12px;
  &:last-child{
    margin-left: -6px;
  }
}


.comparisons { // class for last step on surveys when comparison checked
  p.grey-text {
    padding-right: 20px;
    margin: 0;
    max-width: 500px;
  }
  .col > div {
    position: relative;
    margin-left: 36px;
    label {
      margin-left: 60px;
      @extend .truncate;
      font-size: 1rem;
      line-height: 46px;
      height: 46px;
      top: 0;
      left: 0;
    }
    input[type='text'] {
      height: 2rem;
      border-bottom-color: color('grey', 'lighten-2');
      position: absolute;
      width: 40px;
    }
  }
}
.questionnaires-color-references {
  padding-top: 8rem;
  padding-left: 0.75rem;

  .questionnaire-color-reference {
    margin-bottom: 10px;
    position: relative;

    .color-circle-reference {
      display: inline-block;
      position: absolute;
      top: 3px;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }

    .questionnaire-name {
      padding-left: 23px;
    }
  }
}

:root {
  --reference-color0: #673ab7;
  --reference-color1: #3f51b5;
  --reference-color2: #2196f3;
  --reference-color3: #03a9f4;
  --reference-color4: #00bcd4;
  --reference-color5: #009688;
  --reference-color6: #4caf50;
  --reference-color7: #8bc34a;
  --reference-color8: #cddc39;
  --reference-color9: #ffeb3b;
  --reference-color10: #ffc107;
  --reference-color11: #ff9800;
  --reference-color12: #ff5722;
  --reference-color13: #f44336;
  --reference-color14: #e91e63;
  --reference-color15: #9c27b0;
  --reference-color-unassigned: #999999;
  --single-reference-stroke-color: #4faf55;
}

div.card-table td.referenceColor0 { color: var(--reference-color0) !important; }
div.card-table td.referenceColor1 { color: var(--reference-color1) !important; }
div.card-table td.referenceColor2 { color: var(--reference-color2) !important; }
div.card-table td.referenceColor3 { color: var(--reference-color3) !important; }
div.card-table td.referenceColor4 { color: var(--reference-color4) !important; }
div.card-table td.referenceColor5 { color: var(--reference-color5) !important; }
div.card-table td.referenceColor6 { color: var(--reference-color6) !important; }
div.card-table td.referenceColor7 { color: var(--reference-color7) !important; }
div.card-table td.referenceColor8 { color: var(--reference-color8) !important; }
div.card-table td.referenceColor9 { color: var(--reference-color9) !important; }
div.card-table td.referenceColor10 { color: var(--reference-color10) !important; }
div.card-table td.referenceColor11 { color: var(--reference-color11) !important; }
div.card-table td.referenceColor12 { color: var(--reference-color12) !important; }
div.card-table td.referenceColor13 { color: var(--reference-color13) !important; }
div.card-table td.referenceColor14 { color: var(--reference-color14) !important; }
div.card-table td.referenceColor15 { color: var(--reference-color15) !important; }
div.card-table td.referenceColorUnassigned { color: var(--reference-color-unassigned) !important; }

.referenceBackgroundColor0 { background-color: var(--reference-color0); }
.referenceBackgroundColor1 { background-color: var(--reference-color1); }
.referenceBackgroundColor2 { background-color: var(--reference-color2); }
.referenceBackgroundColor3 { background-color: var(--reference-color3); }
.referenceBackgroundColor4 { background-color: var(--reference-color4); }
.referenceBackgroundColor5 { background-color: var(--reference-color5); }
.referenceBackgroundColor6 { background-color: var(--reference-color6); }
.referenceBackgroundColor7 { background-color: var(--reference-color7); }
.referenceBackgroundColor8 { background-color: var(--reference-color8); }
.referenceBackgroundColor9 { background-color: var(--reference-color9); }
.referenceBackgroundColor10 { background-color: var(--reference-color10); }
.referenceBackgroundColor11 { background-color: var(--reference-color11); }
.referenceBackgroundColor12 { background-color: var(--reference-color12); }
.referenceBackgroundColor13 { background-color: var(--reference-color13); }
.referenceBackgroundColor14 { background-color: var(--reference-color14); }
.referenceBackgroundColor15 { background-color: var(--reference-color15); }

path.respondentsData.referenceStrokeColor0 { stroke: var(--reference-color0); }
path.respondentsData.referenceStrokeColor1 { stroke: var(--reference-color1); }
path.respondentsData.referenceStrokeColor2 { stroke: var(--reference-color2); }
path.respondentsData.referenceStrokeColor3 { stroke: var(--reference-color3); }
path.respondentsData.referenceStrokeColor4 { stroke: var(--reference-color4); }
path.respondentsData.referenceStrokeColor5 { stroke: var(--reference-color5); }
path.respondentsData.referenceStrokeColor6 { stroke: var(--reference-color6); }
path.respondentsData.referenceStrokeColor7 { stroke: var(--reference-color7); }
path.respondentsData.referenceStrokeColor8 { stroke: var(--reference-color8); }
path.respondentsData.referenceStrokeColor9 { stroke: var(--reference-color9); }
path.respondentsData.referenceStrokeColor10 { stroke: var(--reference-color10); }
path.respondentsData.referenceStrokeColor11 { stroke: var(--reference-color11); }
path.respondentsData.referenceStrokeColor12 { stroke: var(--reference-color12); }
path.respondentsData.referenceStrokeColor13 { stroke: var(--reference-color13); }
path.respondentsData.referenceStrokeColor14 { stroke: var(--reference-color14); }
path.respondentsData.referenceStrokeColor15 { stroke: var(--reference-color15); }

.singleReferenceStrokeColor { stroke: var(--single-reference-stroke-color); }

// ------- Survey Card index page ----

.survey-card .card {
  @extend .black-text;
  padding: 0px;
  .card-chart {
    margin: 30px 0 20px;
    svg {
      max-width: 100% !important;
      width: 100% !important;
    }
  }
  .card-title {
    font-weight: 400;
    position: absolute;
    padding-right: 20px;
    width: 85%;
    height: 40px;
    top: 30px;
    margin-bottom: 0;
    display: block;

    a {
      position: absolute;
      top: 3px;
      right: -5px;
    }
  }
  .card-description {
    height: 46px;
    overflow-y: hidden;
    word-break: break-all;
    margin-bottom: 20px;
  }
  .card-content {
    padding: 30px 0 0;
    > div {
      padding-left: 30px;
      padding-right: 30px;
    }
    .card-status {
      border-top: 1px solid color("grey","lighten-3");
      padding-top: 58px;
      position: relative;
      padding-bottom: 20px;
    }
  }

  .card-hover {
    opacity: 0;

    &:hover {
      opacity: 1 !important;
    }
  }

  &:hover .card-hover {
    opacity: 0.5;
  }
}

i.survey-status { // icon for survey status on index
  vertical-align: top;
  margin-right: 10px;
}

.cockpit .card {
  text-align: center;

  .header {
    margin-bottom: 48px;
  }

  .header {
    .title {
      font-size: 18px;
      text-transform: uppercase;
    }

    .description {
      font-size: 14px;
      color: #999;
      display: inline;
    }
  }

  .stats {
    margin-bottom: 30px;
  }
}

// ------- Left Survey collection Wizard ----------

.collection.wizard {
  @extend .z-depth-1;
  border-radius: 5px;
  .collection-header {
    @extend .grey, .lighten-4;
    position: relative;
    p {
      @extend .grey-text
    }
    .progress {
      @extend .grey, .lighten-2;
      position: absolute;
      bottom: 0;
      left: 0;
      margin: 0;
      width: 100%;
      height: 6px;
      .determinate {
       @extend .green, .accent-4;
      }
    }
  }
  .collection-item {
    padding: 0 !important;
    border: none;
    > a {
      @extend .truncate;
      @extend .black-text;
      width: 100%;
      position: relative;
      padding: 20px 35px 20px 20px;
      > i {
        vertical-align: middle;
        margin-right: 15px;
      }
      .arrowright {
        @extend .grey-text;
        position: absolute;
        right: 10px;
      }
    }
    a.active {
      @extend .grey.lighten-3;
      @extend .black-text;
    }
    a:hover {
      @extend .grey.lighten-4;
    }
    &.completed {
      a, a.active {
        @extend .green-text;
      }
    }
  }
}

.sidebar.pinned { // width fix when sidebar is pinned on top
  width: 24.9vw;
  .wizard {
    margin-top: 0px;
  }
}




  // ------- Respondent Chart SVG classes for completed Surveys -----------

    .line.respondentsData {
      fill: none;
      stroke: #4caf50;
      stroke-width: 2.0px;
    }

    .line.backgroundData {
      fill: none;
      stroke: #999;
      stroke-width: 0.75px;
    }

    .axis line, .axis path{
      fill: none;
      stroke: #000;
      stroke-width: 1.0;
      opacity: 0.25;
    }

    .axis > path{
      stroke: none;
    }

    .y.axis g:first-child text{
      fill: none;
    }

    .x.axis .tick line{
      stroke: none;
    }

    .axis text {
      text-transform: uppercase;
      dominant-baseline:text-after-edge;
      font-size: 12px;
      opacity: 0.25;
    }

  // ------- / Respondent Chart SVG classes for completed Surveys -----------



// -----------------------------------------------------------------------------
// ------- Questionnaires ------------------------------------------------------

.questionnaire-modes {
  .modes-list {
    li {
      @extend .grey-text;
      position: relative;
      padding-left: 30px;
      height: 54px;
      cursor: pointer;
      span {
        line-height: 54px;
      }
      .icon {
        position: absolute;
        left: 10px;
        top: 14px;
      }
      .mode-name {
        @extend .truncate;
        padding-left: 15px;
        width: 70%;
      }
      .remove-mode {
        opacity: 0;
        position: absolute;
        left: 10px;
        top: 6px;
        height: 54px;
        &:hover {
          @extend .black-text;
        }
      }
      &.active-mode {
        .icon {
          @extend .black-text;
          opacity: 1 !important;
        }
        .mode-name {
          @extend .black-text;
        }
      }
      &.tooltip-error {
        position: relative;
        &:after {
          content: '';
          @extend .back-error;
          display: block;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          position: absolute;
          top: 1.4rem;
          right: 2.3rem;
        }
      }
      &:hover {
        @extend .grey, .lighten-2;
        .icon {
          opacity: 0;
        }
        .remove-mode {
          opacity: 1;
        }
      }
    }
  }
  .add-mode {
    @extend .black-text;

    padding-left: 0px;

    a {
      @extend .black-text;
    }

    i.material-icons {
      &.right {
        display: none;
      }
    }

    ul {
      box-shadow: 0 2px 10px 2px rgba(0,0,0,.4);
      width: auto !important;
      margin-left: -15px;
      margin-top: -10px;
      border-radius: 5px;
      li {
        box-sizing: border-box;
        i.material-icons {
          @extend .black-text;
          display: inline-block;
          line-height: 1.8;
          margin-right: 5px;
          vertical-align: middle;
        }
        a {
          @extend .black-text;
          padding: 6px 22px 6px 16px;
          white-space: nowrap;
          display: block;
        }
      }
    }
  }
  .switch.right {
    @include transform(scale(0.85));
    margin-right: -20px;
  }
}

.survey-questionnaires {
  .tooltip-error {
    position: relative;
    &:after {
      content: '';
      @extend .back-error;
      display: block;
      border-radius: 50%;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 3px;
      right: -20px;
    }
  }
}

.questionnaire-error {
  @extend .back-error;
  display: block;
  border-radius: 50%;
  width: 12px;
  height: 12px;
}

.wizard-content {
  > div {
    min-height: 110vh;
  }
}

.step-mode {
  position: relative;

  .dropdown-button {
    @extend .black-text;
  }
  i.right {
    @extend .grey-text, .lighten-1;
    margin: 0;
  }
  .dropdown-content.active {
    @extend .z-depth-4;
    border-radius: 4px;
    top: -20px !important;
    left: -8px !important;
    min-width: 220px;
    i {
      min-width: 22px;
      &.right {
        @extend .black-text;
      }
    }
    > li > a {
      @extend .black-text;
    }
  }
  &.underlined {
    border-bottom: 1px solid color('grey','lighten-2');
    display: inline-block;
    padding-bottom: 5px;
    span {
      i {
        vertical-align: text-bottom;
      }
    }
  }
}

.character-counter {
  float: right;
  height: 1px;
  font-size: 10px;
}

.web-color.input-field {
  label {
    left: 2.7rem;
  }
}

label + .tooltipped {
  margin-left: 6px;
}

  // ------- Questionnaires language selector ----------

  .language-selection {
    position: relative;
    .language-dropdown {
      position: absolute;
      width: 100%;
      max-height: 280px;
      li {
        line-height: 3;
        padding: 0 1rem;
      }
    }
  }

  .var-dropdown {
    position: absolute;
    width: 100%;
    max-height: 280px;
    li {
      line-height: 3;
      padding: 0 1rem;
    }
  }

  .languages {
    .tooltip-error {
      position: relative;
      &:after {
        content: '';
        @extend .back-error;
        display: block;
        border-radius: 50%;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 1.4rem;
        right: 2.3rem;
      }
    }
  }

  .languages-list {
    li {
      @extend .grey-text;
      position: relative;
      padding-left: 30px;
      height: 54px;
      cursor: pointer;
      span {
        line-height: 54px;
      }

      .button {
        opacity: 0;
      }
      &:hover {
        .button {
          opacity: 1;
          &:hover {
            @extend .black-text;
          }
        }
      }

      .active-mark {
        @extend .black-text;
        position: absolute;
        left: 10px;
        top: 6px;
      }
      .remove-language {
        @extend .button;
        position: absolute;
        left: 10px;
        top: 6px;
      }
      .set-default-language {
        @extend .button;
        position: absolute;
        right: 0px;
        top: 8px;
      }
      .language-name {
        @extend .truncate;
        padding-left: 15px;
        width: 70%;
      }
      &.active-language {
        .language-name {
          @extend .black-text;
        }
      }
      &:hover {
        @extend .grey, .lighten-2;
      }
    }
  }

  // ------- / Questionnaires language selector ----------



  // ------- Questionnaires web settings ----------
.style.row {
  border-top: 1px solid color('grey', 'lighten-1');
  border-bottom: 1px solid color('grey', 'lighten-1');
  margin-left: -18px;
  margin-right: -18px;
  padding-left: 18px;
  padding-right: 18px;
  .col {
    white-space: nowrap;
  }
}

  .circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    + div {
      display: inline-block;
      margin-left: 10px;
    }
  }

  // ------- / Questionnaires web settings ----------

  ul.disposition {

    .row {
      margin-bottom: 0;
      border-bottom: 1px dashed #cdcdcd;

      p {
        @extend .grey-text;
        font-size: .8rem;
        line-height: .6rem;
        font-style: italic;
      }
    }
    li:last-child .row {
      border-bottom: none;
    }

    ul {
      position: relative;
      padding-bottom: 2rem;
      &:before {
        content: '';
        @extend .grey;
        width: 5px;
        position: absolute;
        bottom: -5px;
        top: 3px;
        left: 9px;
      }
      li {
        padding-top: 1rem;
        &:first-child {
          padding-top: 0;
        }
      }
      ul {
        margin-left: 3rem;
        padding-top: 1rem;
        padding-bottom: 0;
        li {
          padding-bottom: 0;
          padding-top: 0;
          padding-left: 2rem;
          position: relative;
          &:before {
            content: '';
            @extend .grey;
            height: 5px;
            width: 1.4rem;
            position: absolute;
            top: .74rem;
            left: .9rem;
          }
        }
        &:before {
          top: -.1rem;
          bottom: .65rem;
        }
      }
      label:before {
        @extend .grey, .lighten-3;
      }
      &.last {
        padding-bottom: 0;
        &:before {
          bottom: 5px;
        }
      }
    }

  }


  // ------- Questionnaires Disposition ----------



  // ------- /Questionnaires Disposition ----------


.collapsible { // class for collapsed questionnaires
  @include transition(all ease-in-out .25s);
  margin-bottom: 0;
  li {
    border-bottom: 1px solid color("grey", "lighten-2");
    .card {
      @extend .z-depth-0;
      margin: 0;
      border-radius: 0;
      .card-content.closed-step {
        padding: 0;
        a {
          @extend .black-text;
          @extend .clearfix;
          font-size: 20px;
          display: block;
          padding: 25px 15px 25px 20px;
          i {
            padding-top: 4px;
          }
          span {
            @extend .truncate;
            width: 83%;
            float: left;
          }
        }
      }
    }
    &:first-child .card {
      border-radius: 3px 3px 0 0;
    }
    &:last-child {
      border-bottom: none;
      .card {
        border-radius: 0 0 3px 3px;
      }
    }
  }
  &.dark { // this class 'dark' is for quotas and error cards when collapsed
    @extend .z-depth-0;
    border: none;
    li .card {
      border-radius: 3px;
      @extend .grey, .lighten-2;
      .card-content.closed-step {
        .text-error {
          @extend .text-error;
        }
      }
    }
  }
}

.collection-item.header {
  padding: 25px 15px 25px 9px;
  height: 80px;
  .material-icons.prefix {
    @extend .grey-text, .lighten-2;
    font-size: 1.6rem;
    top: 1.8rem;
  }
  input[type=text] {
    font-size: 20px;
    border-bottom: none;
    width: 78%;
    margin-bottom: 0px;
    margin-top: -10px;
    margin-left: 15px;
  }
  .collapse {
    @extend .grey-text, .lighten-2;
    margin-right: -10px;
  }
  .dropdown-content li a, .dropdown-button {
    @extend .black-text;
  }
  .row , input {
    margin-bottom: 0;
  }
  a.page-title {
    @extend .black-text;
    font-size: 20px;
    line-height: 1.35;
    max-width: 80%;
    margin-left: 15px;
    float: left;
    i {
      @extend .grey-text, .lighten-2;
      font-size: 24px;
      display: inline-block;
      vertical-align: top;
      margin-left: 15px;
    }
  }
}


.sms-attempts, .ivr-attempts, .mobileweb-attempts {
  li {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 15px;
    position: relative;
    span {
      @extend .grey-text, .lighten-2;
      font-size: 12px;
      display: inline-block;
      padding: 0 15px 0 12px;
      vertical-align: bottom;
      border-top: 1px solid color('grey', 'lighten-2');
      position: relative;
      &:after {
        content: 'keyboard_arrow_right';
        font-family: 'Material Icons';
        font-weight: normal;
        font-style: normal;
        font-size: 11px;
        line-height: 1.158;
        letter-spacing: normal;
        text-transform: none;
        text-rendering: optimizeLegibility;
        font-feature-settings: 'liga';
        position: absolute;
        top: -6px;
        right: -6px;
        opacity: 0.4;
      }
    }
    &:after {
      @extend .black-text;
      font-family: 'Material Icons';
      font-weight: normal;
      font-style: normal;
      font-size: 24px;
      line-height: 1;
      letter-spacing: normal;
      text-transform: none;
      text-rendering: optimizeLegibility;
      font-feature-settings: 'liga';
      margin-left: 10px;
    }
    &:first-child {
      i {
        margin-right: 10px;
      }
      &:after {
        display: none;
      }
    }
  }
}

.sms-attempts {
  li {
    &:after {
      content: 'sms';
    }
  }
}

.ivr-attempts {
  li {
    &:after {
      content: 'phone';
    }
  }
}

.mobileweb-attempts {
  li {
    &:after {
      content: 'phone_android';
    }
  }
}

.collection.dark { // this class 'dark' is for quotas and error cards
  border: none;
  border-radius: 3px;
  .collection-item {
    @extend .grey, .lighten-2;
    &.header {
      border-radius: 3px 3px 0 0;
      a.page-title {
        line-height: 1.5;
        margin-left: 0;
      }
      i {
        line-height: 1.4;
      }
    }
    input[type='text'] {
      border-bottom-color: color('grey', 'darken-1')!important;
      box-shadow: none !important;
    }
  }
  .audio-dropdown {
    ul i.material-icons {
      @extend .black-text;
    }
  }
  .dropfile {
    border-color: color('grey', 'base');
  }
}

.quotas {
  p.grey-text {
    padding-left: 36px;
    margin: 0;
    max-width: 500px;
  }
  .col > div {
    position: relative;
    margin-left: 36px;
    input[type='text'] {
      max-width: 90px;
      margin-left: 250px;
      height: 2rem;
      border-bottom-color: color('grey', 'lighten-2');
    }
    label {
      @extend .truncate;
      font-size: 1rem;
      line-height: 46px;
      height: 46px;
      position: absolute;
      width: 220px;
      top: 0;
      left: 0;
    }
  }
}
.edit-quotas {
  padding-left: 36px;
}

.collection.collection-card {
  overflow: visible;
}

// -----------------------------------------------------------------------------
// ------- Questionnaire Mobile Web Prompt -------------------------------------


.RichEditor-root {
  position: relative;
  margin-top: 30px;
  .public-DraftEditor-content {
    border-bottom: 1px solid #ddd;
    cursor: text;
    padding-bottom: 11px;
    &:focus {
      transition: all .26s;
      border-bottom-color: color("green", "darken-2");
      box-shadow: 0 1px 0 0 color("green", "darken-2");
    }
  }
  label {
    @extend .grey-text;
    font-size: 1rem;
    position: absolute;
    transition: all .26s;
    &.focus {
      color: color("green", "darken-2") !important;
      font-size: .8rem;
      transform: translate(0, -140%);
    }
    &.text {
      font-size: .8rem;
      transform: translate(0, -140%);
    }
  }
  .error {
    color: $input-error-color;
    font-size: 0.8rem
  }
}

.RichEditor-controls {
  padding-top: 4px;
  .material-icons {
    padding-right: 10px;
  }
}

.collection.dark .collection-item .RichEditor-root .public-DraftEditor-content {
  border-bottom-color: #757575;
}

.RichEditor-editor.invalid {
  .public-DraftEditor-content {
    border-bottom-color: $input-error-color !important;
    box-shadow: 0 1px 0 0 $input-error-color !important;
  }
}


// -----------------------------------------------------------------------------
// ------- Collaborators -------------------------------------------------------

.colaborate-link {
  @extend .grey-text;
  i {
    vertical-align: middle;
    margin-right: .5rem;
  }
  a {
    @extend .grey-text;
    text-transform: lowercase !important;
    border-bottom: 1px dotted color("grey", "base");
    cursor: pointer;
  }
}

.modal.card {
  .card-content {
    padding: 1.5rem 2rem;
  }
  .button-actions {
    margin-top: 1rem;
  }
  .card-action {
    font-size: 1.1rem;
    padding: 1.2rem 2rem;
    margin-top: 2rem;
    border-top: 1px solid color('grey', 'lighten-2');
  }
}
.accept-invitation {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0 !important;
  h1 {
    margin-top: 0;
    margin-bottom: 0;
  }
  p {
    @extend .grey-text;
    font-weight: 300;
    font-size: 1.4rem;
    margin: 1.4rem 0;
    span {
      font-weight: 400;
      display: block;
    }
    &.small-text {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.8;
      margin-bottom: 2rem;
    }
  }
  .divider {
    margin: 3rem 0;
  }
}


// -----------------------------------------------------------------------------
// ------- Helper classes  -----------------------------------------------------

.mtop {
  margin-top: -8rem;
}

.v-middle {
  vertical-align: middle;
}
.icon-text {
  margin-right: .5rem;
}
.no-padd {
  padding: 0;
}
.link {
  cursor: pointer;
}
.card.overflow {
  overflow-x: auto;
}

.empty-projects {
  @extend .grey-text;
  text-align: center;
  width: 350px;
  margin: 0 auto;

  .icons {
    border-top: 1px solid color('grey', 'lighten-2');
    padding-top: 3rem;
    margin-top: 3rem;
    i {
      font-size: 46px;
      margin: 0 .9rem;
    }
  }
  p {
    font-size: 16px;
    line-height: 2;
  }
}

.empty_page {
  @extend .grey-text;
  text-align: center;
  i {
    font-size: 180px;
  }
}

.checkbox-error {
  font-size: .8rem;
  position: absolute;
  margin-left: 2.3rem;
  margin-top: -1.3rem;
}


  // ------- Error classes -----------

  .reg-error {
    font-size: .85rem;
    color: #ff5722;
    position: absolute;
    top: 45px;
  }

  .back-error {
    background-color: #ff5722 !important;
  }

  .text-error {
    color: #ff5722 !important;
  }
.alert-left-icon {
  text-transform: uppercase;
  i {
    vertical-align: middle;
    margin-right: 10px;
  }
}



// ----- Static empty pages ------

.empty_static {
  flex: 1;
  padding-top: 15px;
}

// ---- Audio control ----
// See: http://stackoverflow.com/a/41136470/4990850

audio::-internal-media-controls-download-button {
  display:none;
}

audio::-webkit-media-controls-enclosure {
  overflow:hidden;
}

audio::-webkit-media-controls-panel {
  width: calc(100% + 30px); /* Adjust as needed */
}

body.bdfh {
  header {
    background-color: #6648A2
  }
  nav {
    background-color: #6648A2
  }
  #TopNav {
    border-bottom-color: rgba(0,0,0,.25);
    ul {
      a {
        color: rgba(255, 255, 255, .33);
      }
    }
  }
  .tabs {
    .tab {
      a {
        color: rgba(255, 255, 255, .33);
      }
    }
    .indicator {
      background-color: #FBA400;
    }
  }
  .logo {
    .logo-container {
      background-image: url('../images/header_icon_bloomberg.svg');
    }
  }
}

.color-palette-wrapper {
  display: inline-block;
  width: 100%;
}

#colourSchemeModal {
  .modal-overlay{
    z-index: 0;
  }
  .card-content {
    max-height: initial;
    padding: 2rem 2rem;

    .row {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

  }
}

// ----- Three dots option menu next to Tabs ------
.options {
  i.material-icons {
    @extend .grey-text;
    height: 45px;
    line-height: 1.4;
    &.right {
      display: none;
    }
  }
  ul {
    box-shadow: 0 2px 10px 2px rgba(0,0,0,.4);
    width: auto !important;
    margin-left: -15px;
    margin-top: -10px;
    border-radius: 5px;
    li {
      box-sizing: border-box;
      i.material-icons {
        @extend .black-text;
        display: inline-block;
        line-height: 1;
        margin-right: 5px;
        vertical-align: middle;
      }
      a {
        @extend .black-text;
        padding: 14px 22px 14px 16px;
        white-space: nowrap;
        display: block;
      }
      &.dots {
        @extend .white;
        padding-left: 15px;
        padding-top: 10px;
        i.material-icons {
          height: 46px;
          line-height: 1.4;
        }
      }
    }
  }
  &.questionnaire-menu {
    > a > i.material-icons {
      line-height: 2;
    }
    ul li.dots i {
      line-height: 2;
    }
  }
}

a.disabled {
  color: grey;
}

// -------------- Simulation -------------

.collection.simulation {
  li {
    padding: 20px;
    padding-bottom: 6px;

    .title {
      font-size: 20px;
    }
    .value {
      padding-left: 40px;
      font-size: 12px;
    }

    &.active {
      color: black;
      background-color: #E0E0E0;
    }

    &.done {
      color: #3FA43E;
    }

    &.skipped {
      color: #C2C2C2;
    }
  }
}

// -------------- DatePicker -------------

// This is a duplicate of .chip .close, it's needed to avoid materialize messing up with the pills and deleting more than one pill at a time
.chip .cross {
  cursor: pointer;
  float: right;
  font-size: 16px;
  line-height: 32px;
  padding-left: 8px;
}

.datepicker {
  position: relative;
  .datepicker-card {
    position: absolute;
    right: 0;
    width: 400px;
  }
}

.Cal__Header__root {
  display:none;
}

.Cal__Day__selection:before {
  content: 'block';
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  color: #ff551b;
  font-size: 62px;
  line-height: 52px;
  text-rendering: optimizeLegibility;
  font-feature-settings: 'liga';
  position: absolute;
  top: 0px;
  right: -5px;
  opacity: 0.9;
}
.Cal__Day__selection {
  color: #ff551b !important;
}

.Cal__Month__rows {
  background: none;
}

// ----- Home page------

.language-selector-home {
  color: #999;
  position: absolute;
  top: 30px;
  left: 70px;
  font-size: 12px;
}

// -------------- Channels -------------

.big-done {
  width: 100%;

  .material-icons.check {
    @extend .green-text;
    font-size: 100px;
    border: 6px solid color('grey', 'lighten-2');
    border-radius: 50%;
    padding: 30px;
  }

  a {
    @extend .grey-text;
    text-transform: uppercase;
  }
}
