$aoMessageBackground: color("grey", "darken-3");
$atMessageBackground: color("grey", "darken-4");
$chatWindowBodyBackground: #999999;
$chatBorderBackground: color("grey", "darken-3");

// every simulation component heightens 8.5 simulation steps
// the simulation step height depends on the screen size
$simulationHeight: calc(74px * 8.5);
$simulationHeightMediumAndDown: calc(72px * 8.5);

// chatBodyHeight = chatTotalHeight - (chatHeaderHeight + chatFooterHeight)
$chatWindowHeaderHeight: 90px;
$chatWindowBodyHeight: calc((74px * 8.5) - (90px + 81px));
$chatWindowBodyHeightMediumAndDown: calc((72px * 8.5) - (90px + 81px));

.quex-simulation-container {
  display: grid;
  grid-template-areas: 'disposition steps chat';
  grid-gap: 2rem;

  @media #{$medium-and-down} {
    grid-template-areas:
      'disposition'
      'steps'
      'chat';
  }

  @media #{$medium-only} {
    margin-left: 20%;
    margin-right: 20%;
  }

  @media #{$medium-and-down} {
    margin-bottom: 2rem;
  }
}
.quex-simulation-disposition {
  height: $simulationHeight;
  grid-area: disposition;

  @media #{$medium-and-down} {
    height: $simulationHeightMediumAndDown;
  }
}

.quex-simulation-steps {
  overflow: auto;
  height: $simulationHeight;
  grid-area: steps;

  .card {
    margin-top: 0;
    ul {
      margin-top: 0;
    }
  }

  @media #{$medium-and-down} {
    height: $simulationHeightMediumAndDown;
  }
}

.wrapper .simulator-container {
  @extend .row;
  padding-top: 60px;
  & main > div {
    padding-top: 0;
  }
}
.chat-window {
  @extend .z-depth-5;
  border-radius: 5px;
  max-height: $simulationHeight;
  padding: 0;
  grid-area: chat;
  overflow: auto;

  @media #{$medium-and-down} {
    height: $simulationHeightMediumAndDown;
  }
}
.chat-window-body {
  overflow: auto;
  padding: 15px 15px;
  position: relative;
  background: $chatWindowBodyBackground;
  height: $chatWindowBodyHeight;

  @media #{$medium-and-down} {
    height: $chatWindowBodyHeightMediumAndDown;
  }

  ul {
    list-style-type: none;
    margin: 0;

    li {
      padding: 7px 5px 7px 15px;
      border-radius: 5px;
      border-bottom: 3px solid; // separation betweeen same-origin messages
      border-top: 3px solid;
      border-color: $chatWindowBodyBackground;
      width: fit-content;
    }
    li:first-child {
      border-top: none;
    }
    li:last-child {
      border-bottom: none;
      margin-bottom: 10px; // space between bubbles of different origin
    }
    .message-bubble {
      border-radius: 4px;
      margin-left: 5px;
      margin-right: 5px;
      position: relative;
      clear:both; //for maintaining a one bubble per row

      .content-text {
        display: inline-block;
        overflow-wrap: break-word;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        font-size: 1.14rem;
        max-width: 200px;
        width: fit-content;
        padding-right: 10px;
      }

      .content-timestamp {
        color: #9E9E9E; //$md-grey-500;
        display: inline-block;
        text-align: right;
        margin-left: 25px;
      }
    }
    .at-message {
      @extend .white-text;
      background: $atMessageBackground;
      width: fit-content;
      margin-left: calc(100% - width);
      float: right;
      clear: both;
    }
    .ao-message {
      color: color("grey", "lighten-2");
      background: $aoMessageBackground;
      width: fit-content;
      float: left;
      margin-right: calc(100% - width);
      clear: both;
    }

    // properties for bubble start mark
    .at-message:after, .ao-message:after {
      border: solid transparent;
      border-width: 7px;
      content: "";
      height: 0;
      margin-left: -7px;
      position: absolute;
      top: 0;
      width: 0;
    }
    .at-message:after {
      border-top-color: $atMessageBackground;
      left: 100%;
    }
    .ao-message:after {
      border-top-color: $aoMessageBackground;
      left: 0;
    }
  }
}
.chat-header{
  @extend .white-text;
  background: $chatBorderBackground;
  text-align: center;
  height: $chatWindowHeaderHeight;
  font-size: 24px;
  font-style: normal;
  line-height: $chatWindowHeaderHeight;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1px solid $chatWindowBodyBackground;
}

.chat-window-input {
  background: $chatBorderBackground;
  padding: 10px 10px 10px 25px;
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto;
  grid-template-areas: "input button";
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: transparent;
  border-top: 1px solid $chatWindowBodyBackground;
  input:focus::placeholder {
    color:transparent;
  }

  .chat-input {
    grid-area: input;
    color: color("grey", "lighten-2");
    .md-text-field {
      font-size: 1.14rem;
    }
    margin: 0px;
  }
  .chat-button {
    grid-area: button;
    padding: 15px;
    cursor: pointer;
    button:hover {
      background: transparent;
    }
    .material-icons{
      color: color("grey", "lighten-2");
    }
  }
}
