// ------- Media breakpoints adjustments -----------

@media all and (max-width: 998px) {
  .wrapper > main > * {
    padding-left: 3%;
    padding-right: 3%;
  }
  #TopNav {
    padding-right: 3%;
    .col > ul .user-icon,
    .col > ul .user-email-dropdown {
      display: inline-block;
    }

    .dropdown-content {
      width: auto !important;
    }
  }
  .audio-section audio {
    width: 55%;
  }
  .dropfile.audio .drop-text {
    font-size: 78%;
  }
  .collapsible li .card .card-content.closed-step a span {
    width: 75%;
  }
  .user-email {
    display: none;
  }
  .card.tableScroll {
    width: 91.4vw;
  }

}

@media all and (max-width: 821px) and (min-width: 601px) {
  .mode-label {
    display: none !important;
  }
}


@media all and (max-width: 600px) {

  .wrapper > * > * {
    padding-left: 5px;
    padding-right: 5px;
  }

  header {
    .logo {
      margin-left: 5px;
    }
    #MainNav a.page-title {
      max-width: 60vw;
    }
    input#questionnaire_name {
      max-width: 60vw;
    }
    #TopNav {
      .user-menu a {
        max-height: 56px;
      }
    }
  }

  .btn-wizard {
    @include transition(none);
    position: absolute;
    margin-top: 2rem;
  }

  .sidebar.pinned {
    width: 100%;
    z-index: 1000;
    left: 0;
    top: 0px !important;

    .collection.wizard {
      margin: 0;
      border-radius: 0;
      border: none;
    }

    .collection-header {
      padding: 2px 20px;

      h5 {
        font-size: 1.2rem;
        margin: 0.1rem 0;
      }
      p {
        font-size: 13px;
        margin: 0.2rem 0 0.4rem;
      }
    }

    .collection-item {
      opacity: 1;
      padding: 0;
      margin: 0;

      a {
        overflow: hidden;
        height: 0;
        padding: 0;

        &.active {
          height: 38px;
          padding: 6px 35px 6px 20px;
        }
      }
    }
    .btn-wizard {
      position: absolute;
      left: 0;
      right: 0;
      width: 100%;
      margin-top: 0;
    }
  }
  #questionnaire {
    margin-top: 6.5rem;
  }
  .audio-section audio {
    position: relative;
    width: 100%;
  }
  .question.left .question-value {
    width: 60%;
  }
  .card.tableScroll {
    width: 90.1vw;
  }
}