$receivedMessageBackground: color("grey", "darken-3");
$sentMessageBackground: color("grey", "darken-4");

.chat-window {
  @extend .z-depth-5;
  width: calc(100% / 2);
  float: right;
  border-radius: 5px;
}
.chat-window-body {
  height: 500px;
  overflow: auto;
  padding: 15px 15px;
  position: relative;
  z-index: 1;
  background: color("grey", "darken-1");

  ul {
    list-style-type: none;
    margin: 0;

    li {
      padding: 7px 5px 7px 15px;
      border-bottom: 5px solid color("grey", "darken-1"); // separation betweeen same-origin messages
    }
    li:last-child {
      border-bottom: none;
    }
    .message-bubble {
      border-radius: 4px;
      margin: 5px 18px 24px;
      position: relative;
      width: fit-content;
      clear:both;

      .content-text {
        display: inline-block;
        // -ms-word-break: break-all;
        // word-break: break-all;
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        hyphens: auto;
        font-size: 1.14rem;
        max-width: 200px;
        width: fit-content;
        padding-right: 10px;

      }

      .content-timestamp {
        color: #9E9E9E; //$md-grey-500;
        display: inline-block;
        text-align: right;
        margin-left: 25px;
      }
    }
    .message-sent {
      @extend .white-text;
      background: $sentMessageBackground; //$md-lime-100;
      width: fit-content;
      float: right;
      margin-left: calc(100% - width)
    }
    .message-received {
      color: color("grey", "lighten-2");
      background: $receivedMessageBackground;
      float: left;
      margin-right: calc(100% - width)
    }

    // .message-sent:before, .message-received:before {
    //   border: solid transparent;
    //   border-top-color: #E0E0E0;//$md-grey-400;
    //   border-width: 10px;
    //   content: "";
    //   height: 0;
    //   position: absolute;
    //   top: 0;
    //   width: 0;
    // }
    // .message-sent:before {
    //   left: 100%;
    //   margin-left: -9px;
    // }
    // .message-received:before {
    //   left: 0;
    //   margin-left: -11px;
    // }

    // properties for bubble start mark
    .message-sent:after, .message-received:after {
      border: solid transparent;
      border-width: 7px;
      content: "";
      height: 0;
      margin-left: -7px;
      position: absolute;
      top: 0;
      width: 0;
    }
    .message-sent:after {
      border-top-color: $sentMessageBackground; //$md-lime-100;
      left: 100%;
    }
    .message-received:after {
      border-top-color: $receivedMessageBackground;
      left: 0;
    }
  }
}
.chat-header{
  @extend .white-text;
  background: color("grey", "darken-3");
  text-align: center;
  height: 120px;
  font-size: 24px;
  font-style: normal;
  line-height: 120px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

}

.chat-window-input {
  background: color("grey", "darken-3");
  padding: 10px 10px 10px 25px;
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: auto;
  grid-template-areas: "input button";
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  border-color: transparent;

  .chat-input {
    grid-area: input;
    color: color("grey", "lighten-1");
    .md-text-field {
      font-size: 1.14rem;
    }
  }
  .chat-button {
    grid-area: button;
    padding: 15px;
    button:hover {
      background: transparent;
    }
  }
}

