<div class='empty_static'>
  <div class='empty_page'>
    <i class='material-icons'>email</i>
    <h5>Password reset link sent</h5>
    We sent you an email with a password reset link. Please click that link to reset your password.
  </div>
</div>